.link{
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    text-decoration: none;

    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.link:hover {
    color: var(--secondary);
}

.ALink{
    color: var(--secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    text-decoration: none;

    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}